# Dependencies
/node_modules
/.pnpm-store

# Next.js
/.next/
/out/

# Build outputs
/dist/

# Environments
.env*.local

# Vercel
.vercel

# Python Virtual Environments
.cc-venv/
/venv/
/.venv/

# Caches
*.log
__pycache__/

# Project Specific
audit_report.json
